@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee&&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
	:root {
		--canvas-top: 0px;
    --canvas-left: 0px;
    --highlight-color: 254 248 226;
    --shadow-color: 27 27 27;
    --dimmer-shadow: 36 36 36;
    --accent-red: 173 100 84;
    --accent-cyan: 95 146 143;
    --accent-yellow: 179 161 131;
    --accent-bri-yellow: 210 178 79;
    --accent-blue: 49 52 64;
    --accent-green: 106 153 98;
	}
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--dimmer-shadow));
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
  -moz-appearance: textfield; /* Firefox */
}